<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/libs/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/libs/Site.css" rel="stylesheet">
    <link href="~/Content/css/libs/responsive.css" rel="stylesheet">
</head><!--/head-->
<body>
    @Html.Partial("Header")
    <div style="margin-top:100px;">
        @RenderBody()
    </div>
    @Html.Partial("Footer")
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/jquery/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/others/moment.js" type="text/javascript"></script>
    <script src="~/Content/js/helper.js" type="text/javascript"></script>
    <script src="~/Content/js/functions.js" type="text/javascript"></script>
</body>
</html>
