@using System.Globalization;
@{
    ViewBag.Title = "Trang chủ | Nhà sách online";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo ci = new CultureInfo("vi-VN");
}
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("SideMenu")
            <div id="search_result">
                <div class="col-lg-9 padding-right" id="slider">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                            <li data-target="#slider-carousel" data-slide-to="3"></li>
                            <li data-target="#slider-carousel" data-slide-to="4"></li>
                            <li data-target="#slider-carousel" data-slide-to="5"></li>
                            <li data-target="#slider-carousel" data-slide-to="6"></li>
                            <li data-target="#slider-carousel" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active" style="padding-left:0">
                                <img src="~/Content/images/home/slider1.jpg" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider2.png" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider3.jpg" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider4.jpg" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider5.jpg" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider6.png" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider7.jpg" />
                            </div>
                            <div class="item" style="padding-left:0">
                                <img src="~/Content/images/home/slider8.jpg" />
                            </div>
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--shipping-->
        <div class="shipping text-center" style="background:#fff">
            <img src="~/Content/images/home/ad-image.jpg" />
        </div>
        <!--/shipping-->
        <div class="row">
            <div class="col-lg-12">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="margin-top:10px">Các sản phẩm nổi bật</h2>
                    <div id="feature-items">
                        <div class="col-lg-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Content/images/home/default-image.jpg"
                                             style="height:100px;width:auto;object-fit:contain" />

                                        <h2>$13.95</h2>
                                        <p class="shorten-name">DIARY OF A WIMPY KID: Double Down</p>
                                        <a href="#" class="btn btn-default add-to-cart">
                                            <p hidden>01</p>
                                            <i class="fa fa-shopping-cart"></i>
                                            Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Content/images/home/default-image.jpg"
                                             style="height:100px;width:auto;object-fit:contain" />

                                        <h2>$13.95</h2>
                                        <p class="shorten-name">DIARY OF A WIMPY KID: Double Down</p>
                                        <a href="#" class="btn btn-default add-to-cart">
                                            <p hidden>01</p>
                                            <i class="fa fa-shopping-cart"></i>
                                            Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Content/images/home/default-image.jpg"
                                             style="height:100px;width:auto;object-fit:contain" />

                                        <h2>$13.95</h2>
                                        <p class="shorten-name">DIARY OF A WIMPY KID: Double Down</p>
                                        <a href="#" class="btn btn-default add-to-cart">
                                            <p hidden>01</p>
                                            <i class="fa fa-shopping-cart"></i>
                                            Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Content/images/home/default-image.jpg"
                                             style="height:100px;width:auto;object-fit:contain" />

                                        <h2>$13.95</h2>
                                        <p class="shorten-name">DIARY OF A WIMPY KID: Double Down</p>
                                        <a href="#" class="btn btn-default add-to-cart">
                                            <p hidden>01</p>
                                            <i class="fa fa-shopping-cart"></i>
                                            Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


